name: Compiling Julia

on:
  push:
    branches:
      - main
    paths:
      - src/Julia/**

jobs:
  julia_test:
    runs-on: ubuntu-20.04
    steps:
      - name: Partial Clone
        shell: bash
        run: |
          REPO="https://${GITHUB_ACTOR}:${{ secrets.GITHUB_TOKEN }}@github.com/${GITHUB_REPOSITORY}.git"
          git config --global user.email github-actions@github.com
          git config --global user.name github-actions
          git clone -q --filter=blob:none --no-checkout --depth=1  --sparse $REPO .
          git sparse-checkout set src/Julia
          git checkout

      - uses: julia-actions/setup-julia@v1
        with:
          version: "^1.5.2"
          arch: x86
          show-versioninfo: true
      - run: ./src/Julia/start.jl
        shell: bash
